{% extends "app/layout.html" %}

{% block content %}

<div class="container-fluid">
        <div class="row">
            <h1 class="page-header">Upload OVA to Server</h1>
        </div>
        <div id='progressbar' style='display:none' align="center">
            <img src='../../static/app/img/progressbar.gif'/>
        </div>
        <div class="row" style="width: 50%">
            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token }}" >
            <table class="table table-striped table-bordered table-hover" >
                <tbody>
                <tr>
                    <td width="30%">VM Type</td>
                    <td width="70%">
                        <select name="vmtypeSelect" id="vmtypeSelect" class="form-control" onchange="nodetype.value = this.options[this.selectedIndex].value">
                            <option selected value="0">Please Select...</option>
                            <option value="node">vNode</option>
                            <option value="pdu">vPDU</option>
                        </select>
                        <input type="hidden" id="nodetype" name="nodetype" value="0">
{#                            {% endif %}#}
                    </td>
                </tr>
                <tr>
                    <td width="30%">OVA Image to Upload</td>
                    <td width="70%">
                        <input type="file" id="ovaimage" name="ovaimage">
                    </td>
               </tr>
                <tr>
                    <td width="30%"></td>
                    <td width="70%">
                        <button type="button" id="uploadOVAButton" name="uploadOVAButton" class="btn btn-default">Upload</button>
                        <button type="button" class="btn btn-default" onclick="window.location.href='deploy'">Cancel</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
</div>


<script type="text/javascript" src="../../static/app/scripts/jquery.min.js"></script>

<script>
$('#uploadOVAButton').click(function() {
    var type = $('#nodetype').val();
    var token = $('#csrf_token').val();
    var file = $('input[name="ovaimage"]').get(0).files[0];

    filesplit = file["name"].split(".");
    filepostfix = filesplit[filesplit.length-1];

    if(type=="0")
    {
        alert("Please select one VM Type...");
        return;
    }

    if(filepostfix != "ova")
    {
        alert("The OVA image type is not correct...");
        return;
    }
    var formdata = new FormData();
    formdata.append("file", file);
    formdata.append("csrfmiddlewaretoken", token);
    formdata.append("filetype", type);

    $('#progressbar').show();
    $.ajax({
        type: 'POST',
        url: '../api/v1/ova/upload',
        data: formdata,
        contentType: false,
        processData: false,
        success: function (output) {
            $('#progressbar').hide();
            alert("Upload OVA image to server Successfully!")
        },
        error: function(){
            $('#progressbar').hide();
            alert("Fail to upload OVA. Please retry.");
        }
    });
})

</script>

{% endblock %}
